Input_sdss/*
*.o
*.mod
Notes/notes.aux
*.dump
*.dyn
*.fits
*.points
*.pdf
comp_im.R
comp_im.txt
*.xml
multinest_readme.txt
Notes/.notes.lb
*.fdb_latexmk
Notes/notes.fls
Notes/notes.log
Notes/notes.synctex.gz
*.o
*.mod
Output/.txt
Output/ev.dat
*.dat
Output/summary.txt
Prof/pgopti.dpi
Prof/pgopti.dpi.lock
tmp.txt
Logi/papers.eml
*.eml
